.banner {
	background-image:url(../../images/background1.jpg)
}
.banner{
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1 {
	font-size: 60px;
}

.banner h2 {
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 50px;

}
